body {
    margin:0;
    padding:0;
    background-color: #711cc0;
    color:#fff;
    font-family: 'Trebuchet MS', Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.genre-column {
    display:flex;
    flex-direction: column;
    text-align: center;
}

.card {
    width:200px;
    height:120px;
    border-radius: 20px;
    background-color: #2729b4;
    text-align: center;
    padding: 5px;
    margin: 10px;
}
